body {
  background-color: #e2e2e2;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.topBan {
background-color: #ffffff;
height: 100px;
top: 0px;
z-index: 0;
color: #000000;
font-size: 40px;
padding: 10px 0px 0px 10px;
overflow: hidden;
margin: 0;
vertical-align:middle;
}
h1 {
  margin: 0;
  padding-left: 15px;
}
.par {
  width: 205.19px;
  height: 110px;
  transform: skew(45deg);
  background: #fff104;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 260.1px;
}
.rec {
  width: 216.75px;
  height: 110px;
  background: #ed202d;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.recpar {
  width: 361.25px;
  height: 110px;
  background: #ed202d;
  position: absolute;
  transform: skew(45deg);
  top: 0;
  right: 55px;
  z-index: 1;
}
.topnav {
background-color: #000000;
height: 34px;
position: sticky;
top: 0;
left: 0;
z-index: 10;
color: #ffffff;
font-size: 23px;
padding: 0 0 0 8px;
margin: 0;
}
.topnav span:hover {
  color: #e8e8e8;
}
.topnav span {
  display: inline-block;
  margin-top: 5px;
  background-color: #000000;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 4px #00000033;
  display: none;
  width: 40%;
}
.popup p {
  text-align: center;
  font-size: 23px;
  padding: 10px 20px;
  color: #000000;
  border: none;
  margin: auto;
  width: auto;
}
.popup h1 {
  text-align: center;
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 45px;
  color: #000000;
}
#overlaypopup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1d1d1de3;
  z-index: 98;
  display: none;
}
.open-btn {
  background-color: #000000;
  position: sticky;
  z-index: 10;
  color: #ffffff;
  font-size: 23px;
  padding: 0 0 0 15px;
  margin-top: 4px;
  float: right;
  border: 0;
  cursor: pointer;
}
.open-btn:hover {
  color: #e8e8e8;
}
.close-btn {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  font-size: 23px;
  border: 3px solid #676767;
  border-radius: 15px;
  margin: 10px 30px 10px auto;
  padding: 10px;
  width: 150px;
  margin: 10px auto;
  margin-bottom: 20px;
  cursor: pointer;
}
.close-btn:hover {
  background-color: #f0f0f0;
}
.overlay {
height: 0%;
width: 100%;
position: fixed;
z-index: 15;
top: 0;
left: 0;
background-color: #1d1d1d;
overflow-y: hidden;
transition: 0.5s;
margin: 0;
color: #ffffff;
}
.overlay-content {
position: relative;
top: 10px;
width: 100%;
text-align: center;
margin: 30px 0;
}
.overlay-content a {
text-decoration: none;
font-size: 23px;
color: #ffffff;
background-color: #1d1d1d; 
text-align: left;
display: inline-block;
width: 22%;
padding: 0;
margin: 10px 0;
}
.overlay a:hover {
color: #e8e8e8;
}
.overlay .closebtn {
position: absolute;
top: 34px;
right: 45px;
font-size: 60px;
z-index: 20; 
text-decoration: none; 
color: #ffffff;
}
.marginbox {
  height: auto;
  width: 50%;
  background-color: none;
  padding: 0;
  margin: 0 auto;
}
h2 {
  margin: 0;
  display: inline-block;
  font-size: 23px;
  padding: 0px;
  pointer-events: none;
}
.switch {
  position: relative;
  width: 45px;
  height: 25.5px;
  float: right;
  }  
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  } 
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ed202d;
  -webkit-transition: .4s;
  transition: .4s;
  } 
  .slider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: #676767;
  -webkit-transition: .4s;
  transition: .4s;
  }  
  input:checked + .slider {
  background-color: #3fb17b;
  } 
  input:focus + .slider {
  box-shadow: 0 0 1px #3fb17b;
  } 
  input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
  }
  .slider.round {
  border-radius: 25.5px; 
  }
  .slider.round:before {
  border-radius: 50%;
}
p {
  background-color: #ffffff;
  border-radius: 15px;
  width: auto;
  height: auto;
  padding: 10px;
  display: block;
  border: 1.5px solid #676767;
  margin: 8px 0 3px 0;
  font-weight: 400;
  font-size: 18px;
}
p:not(:focus):empty::before,
  p[data-placeholder]:not(:focus)::before {
content: attr(data-placeholder);
color: #676767;
}
h3 {
  color: #676767;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 11px;
  margin: 0;
}
hr {
  width: auto;
  border: 1px solid #676767;
}
.combBtn {
  margin: 0;
  border-radius: 5px;
  display: inline-block;
  background-color: #ffffff;
  border: 1.5px solid #676767;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: #000000;
  }
  .combBtn:hover {
    background-color: #f0f0f0;
}
.copyBtn {
  float: right;
  margin: 0;
  border-radius: 5px;
  border: 1.5px solid #676767;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  color: #000000;
  }
  .copyBtn:hover {
    background-color: #f0f0f0;
}
.green {
  float: right;
  margin: 0;
  border-radius: 5px;
  border: 1.5px solid #3fb17b;
  background-color: #3fb17b;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}
.reset {
  height: 70px;
  width: 70px;
  background-color: #acacac;
  border-radius: 50%;
  outline-width: 0px;
  border: none;
  display: block;
  font-size: 40px;
  float: right;
  margin: 40px 20px 20px auto;
  cursor: pointer;
  padding: 0;
}
button.reset i {
  padding: auto;
  text-align: center;
}
.reset:hover {
  background-color: #9b9b9b;
}
.botBan {
  display: flex;
  background-color: #1d1d1d;
  height: 86.8px;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 40px;
  padding: 0;
  overflow: hidden;
  margin: 0 0 0 0;
  position: relative;
  align-items: center;
  width: 100%;
}
.botBan h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 10px;
}
img {
  bottom: 0;
  left: 0;
  width: 75.6px;
  height: 66.8px;
  padding: 15px 10px 5px 10px;
}
.vl {
  bottom: 7px;
  border-left: 1.5px solid #ffffff;
  height: 70px;
  position: absolute;
  left: 97px;
}
h5 {
  font-size: 23px;
  text-align: center;
  margin: 40px 0;
  color: #676767;
  font-weight: 400;
}
@media screen and (max-width: 1445px) {
.par {
    width: 14.2vw;
    right: 18vw;
}
.rec {
    width: 15vw;
}
.recpar {
    width: 25vw;
}
}
@media screen and (max-width: 1130px) {
.topBan {
  height: 8.89vw;
  font-size: 3.54vw;
  padding: 0.88vw 0 0 0.88vw;
}
.par {
height: 9.8vw;
}
.rec {
  height: 9.8vw;
}
.recpar {
  height: 9.8vw;
  right: 40px;
  width: 14.5vw;
}
.marginbox {
  width: 565px;
}
.popup {
    width: 452px;
}
.overlay-content a {
  width: 29.33333%;
}
h5 {
  padding: 0 10%;
}
}
@media screen and (max-width: 845px) {
.overlay-content a {
  width: 44%;
}
h5 {
  padding: 0 5%;
}
}
@media screen and (max-width: 705px) {
  .topBan {
    font-size: 24.96px;
    height: 120px;
    padding: 6.2px 0 0 0;
  }
  h1 {
    padding: 0 800px 0 21px;
  }
  .popup h1 {
text-align: center;
padding: 20px 0 0 0;
  }
  .par {
    height: 130px;
  }
  .rec {
    width: 0;
    height: 0;
    border-left: 130px solid transparent;
    border-right: 0px solid transparent;
    border-top: 130px solid #ed202d;
  background-color: #ffffff;
  }
  .recpar {
    height: 130px;
    right: 60px;
  }
  .reset {
  height: 60px;
  width: 60px;
  font-size: 30px;
  }
  .reset i {
    padding: auto;
    text-align: center;
  }
  h5 {
    margin: 20px 0;
  }
}
@media screen and (max-width: 595px) {
.marginbox {
  width: auto;
  margin: 0 15px;
}
.popup h1 {
    margin: 0;
}
}
@media screen and (max-width: 570px) {
  .rec {
  background-color: #ffffff00;
  }
  .reset {
  margin: 20px 15px 15px auto;
  }
  img {
    bottom: 0;
    left: 0;
    width: 75.6px;
    height: 66.8px;
    padding: 40px 10px 30px 10px;
  }
  h5 {
    padding: 0 15px;
  }
  }
  @media screen and (max-width: 512px) {
    .popup {
        width: calc(100% - 60px);
        margin: 0;
    }
    .topnav span {
        margin-top: 4px;
      }
  }